RAZORPAY_KEY_ID=rzp_live_SmN6qp1qMLVzko
RAZORPAY_KEY_SECRET=P6cqy6gNwoH7nyRAQMoD9Ro7

# Add your Supabase URL and Anon Key here too
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key

# Other variables if needed